<!DOCTYPE html>
<html>
  <head>
    <title><%= app_n(yield(:title)) %></title>
    <%= render 'layouts/template-default' %>

    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container-two">
    <%= yield %>
    <%= render 'layouts/footer' %>
   </div>
  </body>
</html>
